<!-- <span class="form-inline">
  <select
      class="form-control"
      #selectedLang
      (change)="switchLang(selectedLang.value)">
    <option *ngFor="let language of translate.getLangs()"
      [value]="language"
      [selected]="language === translate.currentLang">
      {{ language }}
    </option>
  </select>
</span> -->

<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand">
      {{'Sitetitle' | translate }}
    </a>
        <span class="form-inline">
      <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
          [selected]="language === getLang()">
          {{ language | translate}}
        </option>
      </select>
    </span>
    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label></label>
        </div>
        <div class="input-group fMargin row">
            <div class="input-group-prepend col-3">
                <span class="input-group-text col-12">{{'Name' | translate}}</span>
            </div>
            <input type="text" class="form-control col-9" #usrNmae (blur)="checkName(usrNmae.value)" autocomplete="false">
        </div>
        <div class="row">
            <small class="text-danger col-12" *ngIf="nameError">{{'NameError' | translate}}</small>
        </div>
        <div class="input-group fMargin row">
            <div class="input-group-prepend col-3">
                <span class="input-group-text col-12">{{'Email' | translate}}</span>
            </div>
            <input type="email" class="form-control col-9" autocomplete="false">
        </div>

        <div class="input-group fMargin row">
            <div class="input-group-prepend col-3">
                <span class="input-group-text col-12">{{'PhoneNo' | translate}}</span>
            </div>
            <input type="tel" class="form-control col-9" autocomplete="false">
        </div>
        <div class="input-group fMargin row">
            <div class="input-group-prepend col-3">
                <span class="input-group-text col-12">{{'date' | translate}}</span>
            </div>
            <div class="col-9" style="border: solid 1px gray;">
                <p-calendar [showIcon]="true" name="mdate" id="mdate" formControlName="mdate" [showTime]="false"  [locale]="locale" dateFormat="yy/mm/dd"  yearRange="2000:2030" [showButtonBar]="true" [monthNavigator]="true"  [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
            </div>
        </div>
        <div class="input-group fMargin row ">
            <div class="input-group-prepend col-3 ">
                <span class="input-group-text col-12 ">{{'Password' | translate}}</span>
            </div>
            <input type="password " class="form-control col-9 " autocomplete="false ">
        </div>

        <div class="form-group form-check fMargin ">
            <input type="checkbox">
            <label class="form-check-label ">{{'TermsConditions' | translate}}</label>
        </div>
        <button type="submit " class="btn btn-block btn-danger ">{{'Submit' | translate}}</button>
    </form>
</div>